div {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  background-color: red;
  position: relative;
  animation: square 2.5s infinite;
}

@keyframes square {
  from {
    top: 0px;
  }
  to {
    top: 200px;
    background-color: purple;
  }
}
